
; CloseSFoilsAndOpenLangingGearsBeforeEnterHangar = 0 or 1
; When set to 0, normal behavior
; When set to 1, s-foils must be closed and landing gears opened before enter hangar
CloseSFoilsAndOpenLangingGearsBeforeEnterHangar = 0

; CloseLangingGearsBeforeEnterHyperspace = 0 or 1
; When set to 0, normal behavior
; When set to 1, landing gears must be closed before enter hyperspace
CloseLangingGearsBeforeEnterHyperspace = 0

; AutoCloseSFoils = 0 or 1
; When set to 0, s-foils and landing gears are manualy closed
; When set to 1, s-foils and landing gears are automaticaly closed
AutoCloseSFoils = 1

; Language = it, es, fr, de, en
Language = en
