
; Auto set the game resolution
; 1 to enable the feature
; 0 to disable the feature
IsAutoResolutionEnabled = 0

; Define the resolution width
; When set to 0, the screen width is used
ResolutionWidth = 0

; Define the resolution height
; When set to 0, the screen height is used
ResolutionHeight = 0
